@import './../../stylesheets/base/dimensions';

.navBar {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  background-color: #ee6e73;

  @media screen and(max-width: 768px) {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }
  
  .navBrand {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 20px;
    
    a {
      color: white;
    }
  }

  .navItems {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    margin-right: 20px;

    .navItem {    
      display: flex;
      align-items: center;
      color: white;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }

      a {
        padding: 20px;
        color: white;
      }
    }
  }
}
