main {
	background-color: rgb(245,245,245);

	display: -webkit-flex; /* Safari */
 	display: flex; 

	-webkit-flex-direction: row; /* Safari */
 	flex-direction: row;
 	position: relative;
	
		.sidebar{
		    right: 0;
		    position: absolute;
		    height: 100%;
			width: 22%;
			@media screen and (max-width: 768px) {
		    	display: none;
		    	width: 108px;
		    	height: 95px;
		    	position: fixed;
		    	z-index: 3;
		    	left: 0;
		    	top: 0;
	  		}	
		}

		.mob-sidebar {
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 3;
		}

		.grid {
			width: 78%;
			@media screen and (max-width: 768px) {
		    	width: 100%;
		    	margin-top: 80px;
	  		}
		}

		.full-grid{
			width: 100%;
			@media screen and (max-width: 768px) {
		    	width: 100%;
		    	margin-top: 80px;
	  		}
		}
	
}