.NewsPage{
	width: 75%;
	margin: 0 auto;

	.title{
		font-family: 'Arsenal', sans-serif;
		font-size: 30px;  
		padding: 10px;
		color: #444;
		font-weight: 500;
		margin: 40px 0 20px 0;
		text-align: center;

		&:hover {
			color: #04a49c;
		}
	}

	div{
		div{
			img{
				display: block;
			    margin: 0 auto;
			    width: 100%;
			}
			.stats{
				margin: 20px 0;
				position: relative;

				.views{
					i{
						margin-right: 5px;
					}
				}
				time{
					position: absolute;
					right: 20px;
				}
			}
		}

		.news-desc{
			margin: 10px 0 40px 0;
		}

	}
	
}