$breakpoints: ( sm: 768px,
md: 992px,
lg: 1200px);

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

$items: 12;

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.col {
  display: flex;
  max-width: 100%;
  flex: 1 0 0px;
}

@each $key,
$value in $breakpoints {
  @for $i from 1 through $items {
    .col-#{$key}-#{$i} {
      display: flex;
      flex: 0 0 100%;
    }
  }
}

@each $key,
$value in $breakpoints {
  @for $i from 1 through $items {
    .col-#{$key}-#{$i} {
      @include break($key) {
        flex: 0 0 #{$i / $items * 100%};
      }
    }
  }
}