@import './../../stylesheets/base/variables';

footer {
  text-align: center;
  height: $footer-height;
  color: $tertiary-color;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
