@import url('http://fonts.googleapis.com/css?family=Lato');

.filters {
  @media screen and(max-width: 768px) {
    display: none;
  }

  ul {
    height: 100%;
    width: 100%;

    li {
      color: #AAAAAA;
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
      border-bottom: 1px solid #111111;

      &:hover {
        label {
          color: #FFFFFF;
        }

        .check {
          border: 3px solid #FFFFFF;
        }
      }

      [type="radio"]:not(:checked)+label,
      [type="radio"]:checked+label {
        height: 100%;
        font-size: 18px;
      }

      input[type=radio] {
        &:checked {
          ~.check {
            border: 3px solid #0DFF92;
            &::before {
              background: #0DFF92;
            }
          }
          ~label {
            color: #0DFF92;
          }
        }
      }

      label {
        display: block;
        font-weight: 300;
        padding: 15px 20px;
        margin: 10px 0;
        height: 100%;
        z-index: 9;
        cursor: pointer;
      }

      .check {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23px;
        width: 23px;
        margin-left: 20px;
        border: 3px solid #AAAAAA;
        border-radius: 100%;
        z-index: 5;
        transition: border .25s linear;

        &::before {
          display: block;
          content: '';
          height: 12px;
          width: 12px;
          background-color: #FFF;
          border-radius: 50%;
          transition: background 0.25s linear;
        }
      }
    }
  }
}

.signature {
  position: fixed;
  margin: auto;
  bottom: 0;
  top: auto;
  width: 100%;

  p {
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #AAAAAA;
  }

  .signature .much-heart {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    transform: rotate(45deg);
  }

  .much-heart::before,
  .much-heart::after {
    display: block;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
  }

  .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
  }

  a {
    color: #AAAAAA;
    text-decoration: none;
    font-weight: bold;
  }
}