body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

$breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin break($size) {  
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

$items: 12;

.grid {
  display: flex;
  flex-flow: row wrap;
}


@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .grid__item--#{$key}-span-#{$i} {
      flex: 0 0 100%;
    }
  }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .grid__item--#{$key}-span-#{$i} {
      @include break($key) {
        flex: 0 0 #{$i / $items * 100%}
      }
    }
  }
}